.heading {
    font-size: 23px;
    color: white;
    font-variant: small-caps;
    width: 100%;
    margin: 0px;
}
.note {
    font-size: 15px;
    color: #dcdcdc;
    font-variant: normal;
}

body {
    background-size: cover;
}

.div_speed {
    float: left;
    margin-left: 10px;
}

.div_speed_img {
    width: 200px;
    border-radius: 100px;
    
}

#speed {
    font-size: 23px;
    margin: 10px;
    margin-left: 10px;
}

.div_volume {
    float: right;
    margin-right: 10px;
    ;
}

.div_volume_img {
    width: 200px;
    border-radius: 100px;
}

#volume {
    font-size: 23px;
    margin: 10px;
}
.pause_button, .pause_button_2, .play_button_2, .play_button{
    width: 180px;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
}
.stop_button {
    width: 130px;
    font-size: 25px;
    margin-left: 10px;
}
.play_button, .play_button_2{
    width: 150px;
    font-size: 25px;
}
canvas {
    border: 5px ridge #938393;
    border-radius: 20px;
}